- set_meta_tags :title => 'rails best practices questions', :noindex => true

%h2 Questions
= render 'questions', :questions => @questions
= will_paginate @questions, :previous_label => "<< Previous", :next_label => "Next >>"
