.comments
  %a{:name => 'comments'}
  - if parent.comments.size > 1
    %h3 Comments
    - parent.comments.each do |comment|
      - unless comment.new_record?
        .comment
          %p.info
            = comment_avatar(comment)
            Posted by 
            = comment_user_link(comment)
            on 
            = I18n.localize(comment.created_at)
          .content
            .point-to-icon
            .wikistyle= raw white_list(comment.body.gsub("\n", "<br/>"), :tags => %w(a b blockquote pre code em i strong), :attributes => %w(title href))
