.comments
  - comments.each do |comment|
    .comment
      = comment.body.gsub("\n", "<br/>")
      %span
        Posted by 
        = comment_user_link(comment)
        on 
        = comment.created_at.strftime("%B %d, %Y %H:%M")
      .clear