.comments
  - comments.each do |comment|
    .comment
      = comment.body.gsub("\n", "<br/>")
      %span
        Posted by 
        = comment_user_link(comment)
        on 
        = l(comment.created_at)
      .clear
