@import "compass/utilities/general/float";
@import "compass/css3/box-shadow";

@mixin pagination {
  margin-top: 25px;
  @include float-right;
  a {
    text-align: center;
    line-height: 30px;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ebebeb;
    @include box-shadow(#aeaeae);
  }
  em {
    color: #928e8f;
    padding: 0 5px;
  }
  .disabled {
    display: none;
  }
}
