%table.posts
  - comments.each do |comment|
    %tr
      %td.stat= comment_statistics(comment)
      %td.content
        %p.title= link_to comment.parent_name, comment_parent_link(comment)
      %td.author
        by
        = link_to comment.commentable.user.login, user_path(comment.commentable.user)
      %td.avatar= image_tag comment.commentable.user.gravatar_url(:size => 32, :default => 'mm'), :class => 'user-avatar', :alt => comment.commentable.user.login
