%table.posts
  - votes.each do |vote|
    %tr
      %td.stat
        - if vote.like?
          .like-icon.active Like
        - else
          .dislike-icon.active Dislike
      %td.content
        %p.title= link_to vote.voteable_name, voteable_link(vote)
      %td.author
        by
        = link_to vote.voteable.user.login, user_path(vote.voteable.user)
      %td.avatar= image_tag vote.voteable.user.gravatar_url(:size => 32, :default => 'mm'), :class => 'user-avatar', :alt => vote.voteable.user.login
