<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
	<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=flyerhzm" class="addthis_button" 
		style="text-decoration:none;color:#1C497B; padding:0 2px; float:left; font-weight: bold;font-size: 85%;">
		Share
		<img src="http://s7.addthis.com/static/btn/sm-plus.gif"  width="16" height="15" border="0" alt="Share" />
	</a>
	<span class="addthis_separator">|</span>
	<a class="addthis_button_facebook"></a>
	<a class="addthis_button_digg"></a>
	<a class="addthis_button_dzone"></a>
	<a class="addthis_button_slashdot"></a>

	<a class="addthis_button_twitter"></a>
	<a class="addthis_button_reddit"></a>
	<a class="addthis_button_delicious"></a>
	<a class="addthis_button_email"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=flyerhzm"></script>
<!-- AddThis Button END -->
