@import "partials/wikistyle";
@import "compass/utilities/general/float";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";

.comments {
  margin-top: 32px;
  h3 {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #9e9e9e;
  }
  .comment {
    margin: 20px 20px 0 20px;
    .info {
      font-size: 14px;
      line-height: 2.8;
      img {
        @include float-left;
      }
      p {
        line-height: 1.4;
      }
    }
    .content {
      background-color: #e7f2fd;
      min-height: 50px;
      margin: 9px 0;
      width: 580px;
      position: relative;
      @include inline-block;
      @include border-bottom-radius(5px);
      @include border-top-right-radius(5px);
      .point-to-icon {
        position: absolute;
        top: -9px;
        left: 0;
      }
      .wikistyle {
        @include wikistyle;
        margin: 5px 20px;
      }
    }
    img.user-avatar {
      padding: 2px;
      border: 1px solid #eee;
      margin-right: 10px;
    }
  }
}

// HACKISH !! Basically we just wanna hide the label for comment body textarea,
// yet still allow more elegant writing of feature.
#comment_body_input {
  label {
    display: none;
  }
}
#recaptcha_table {
  table-layout: auto;
}

.question-info, .answer-info {
  .comments {
    width: 400px;
    background-color: #e7f2fd;
    @include float-right;
    .comment {
      margin: 10px 5px;
    }
    span {
      font-size: 10px;
      line-height: 18px;
      @include float-right;
    }
  }
  .comment_form {
    width: 400px;
    @include float-right;
    p {
      @include float-right;
    }
    form#new_comment {
      margin: 0;
      &.hide {
        display: none;
      }
      textarea {
        height: 50px;
        width: 380px;
      }
      ol {
        @include float-right;
      }
    }
  }
}
