/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
@import "partials/wikistyle";

form.formtastic {
  legend {
    font-size: 20px;
    margin-bottom: 20px;
  }
  fieldset {
    &.inputs > ol > li {
      &.password input {
        max-width: 409px;
        width: 409px;
      }
      &.boolean label {
        padding-left: 0;
      }
      label {
        width: 100%;
        font-weight: bold;
      }
      textarea {
        width: 100%;
      }
      p.inline-hints, p.inline-errors {
        margin: 8px 0 0 0;
      }
    }
    &.buttons {
      padding: 0;
      input {
        padding: 3px 9px;
      }
      a {
        font-size: 1.2em;
        line-height: 2em;
        margin-left: 2em;
      }
    }
  }
}
form#new_comment {
  margin: 32px 0;
  fieldset {
    width: 100%;
    ol li {
      margin-bottom: 0;
      width: 100%;
    }
  }
}
form.post, form.implementation, form.formtastic.user_session, form.formtastic.user {
  margin: 32px 20px;
}
form.formtastic.user {
  input#user_email {
    width: 409px;
    max-width: 409px;
  }
}
form.post, form.implementation {
  li.text {
    width: 100%;
  }
  textarea {
    height: 200px;
    &#post_description {
      height: 50px;
    }
  }
}

form.formtastic {
  .wikistyle {
    @include wikistyle;
    border: 1px dotted #111;
    min-height: 2em;
    ol {
      list-style-type: decimal;
    }
    ul {
      list-style-type: disc;
    }
    ol, ul {
      margin: 0 1.5em 0.5em 0;
      padding-left: 3.333em;
    }
  }
}
