@import "partials/wikistyle";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";

.implementation {
  margin: 20px 32px 0 32px;
  img.user-avatar {
    margin: 0 10px 0 0;
  }
  .wikistyle {
    @include wikistyle;
  }
}
.implementations {
  .implementation {
    @include clearfix;
    .title, .comment, .author, .avatar {
      @include float-left;
    }
    .title {
      width: 330px;
    }
    .comment {
      width: 120px;
    }
    .author {
      width: 150px;
    }
    img.user-avatar {
      margin-right: 0;
    }
  }
}
