@import "compass/utilities/lists/bullets";
@import "compass/utilities/lists/horizontal-list";
@import "compass/utilities/links/hover-link";
@import "compass/utilities/links/link-colors";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/text-shadow";

body {
  font-family: Tahoma, Helvetica, Arial, simsun, sans-serif;
  #container a {
    @include hover-link;
    @include link-colors(#000);
  }
  a {
    border: none;
    outline: none;
  }
  .clear {
    clear: both;
  }
}
#container {
  margin: 0 auto;
  width: 980px;
}
#header {
  background: url(/images/header_bg.png) repeat-x 0 0 #fff;
  height: 157px;
  .nav {
    @include float-right;
    margin: 12px 60px 0 0;
    ul {
      @include no-bullets;
      @include horizontal-list;
      li {
        border-right: 1px solid #a4a7a8;
        &.last {
          border-right: none;
        }
        a {
          font-size: 12px;
          font-weight: bold;
          padding: 0 0.5em;
          @include inline-block;
        }
      }
    }
  }
  .logo {
    @include float-left;
    h1 {
      font-size: 32px;
      color: #332222;
      padding: 30px 0 0 45px;
      @include text-shadow;
    }
    p {
      font-size: 14px;
      color: #ccc;
      &.first {
        margin: 5px 0 0 75px;
      }
      &.second {
        margin: 5px 0 0 115px;
      }
    }
  }
  .share {
    margin: 50px 40px 0 0;
    @include float-right;
    a {
      @include inline-block;
      padding-left: 35px;
      margin-left: 15px;
      line-height: 25px;
      color: #282828;
      &.rss-icon {
        width: 245px;
      }
      &.twitter-icon {
        width: 205px;
      }
    }
  }
  .main-nav {
    margin-top: 12px;
    height: 30px;
    background-color: #971920;
    .home-icon {
      text-indent: -9999px;
      margin: 10px 12px 0 62px;
      @include inline-block;
      @include float-left;
    }
    ul {
      @include inline-block;
      @include no-bullets;
      @include horizontal-list;
      @include float-left;
      li a {
        padding: 0 12px;
        line-height: 30px;
        color: #fff;
        font-weight: bold;
      }
    }
    form {
      margin: 2px 32px 0 0;
      width: 280px;
      height: 26px;
      @include float-right;
      position: relative;
      .search-label {
        position: absolute;
        top: 0;
        left: 0;
      }
      .search-text {
        position: absolute;
        top: 0;
        left: 68px;
        border: none;
        width: 170px;
        height: 25px;
        padding: 0 37px 0 5px;
      }
      .search-icon {
        position: absolute;
        top: 4px;
        right: 13px;
        border: none;
        text-indent: -9999px;
      }
    }
  }
}
.flash {
}
#content, #sidebar {
  background-color: #fff;
  @include border-radius(0.5em);
  > h2 {
    margin: 0.5em 1em;
  }
}
#sidebar {
  h3 {
    margin: 0.5em;
  }
  ul {
    padding: 0;
    margin: 1em;
    @include no-bullets;
    li {
      a {
        font-size: 1.2em;
      }
    }
  }
}
#footer {
  border-top: 0.2em solid #999;
  margin: 2em 0;
}
.page {
  margin: 2em;
}
