@import "compass/utilities/lists/bullets";
@import "compass/utilities/lists/horizontal-list";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";
@import "compass/css3/text-shadow";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  background-color: #ededed;
  margin-top: 0;
  line-height: 1.2;
  a {
    border: none;
    outline: none;
    color: #2276bb;
    text-decoration: none;
  }
  table {
    width: 100%;
    table-layout: fixed;
  }
  .clear {
    clear: both;
  }
}
#container {
  background-color: #fff;
}
.container {
  margin: 0 auto;
  width: 980px;
  @include clearfix;
}
#header, #footer {
  .share {
    @include float-right;
    a {
      font-size: 16px;
      padding-left: 35px;
      margin-left: 15px;
      line-height: 25px;
      color: #282828;
      &.rss-icon {
        width: 250px;
      }
      &.twitter-icon {
        width: 205px;
      }
    }
  }
}
#header {
  background: url(/images/header-bg.png) repeat-x 0 0 #fdfdfd;
  .nav {
    font: 11px verdana;
    margin: 12px 40px 0 0;
    @include float-right;
    ul {
      @include no-bullets;
      @include horizontal-list;
      li {
        border-right: 1px solid #a4a7a8;
        &.last {
          border-right: none;
        }
        a {
          font-size: 12px;
          font-weight: bold;
          color: #000;
          line-height: 18px;
          padding: 0 6px;
          @include inline-block;
        }
      }
    }
  }
  .logo {
    @include float-left;
    h1 {
      font-size: 32px;
      color: #332222;
      margin: 30px 0 0 45px;
      @include text-shadow;
    }
    p {
      font-size: 14px;
      color: #ccc;
      &.first {
        margin: 5px 0 0 75px;
      }
      &.second {
        margin: 5px 0 0 115px;
      }
    }
  }
  .share {
    margin: 40px 40px 0 0;
    a {
      @include inline-block;
    }
  }
  .main-nav {
    font-size: 16px;
    margin-top: 12px;
    height: 29px;
    background-color: #971920;
    .home-icon {
      text-indent: -9999px;
      margin: 10px 12px 0 62px;
      @include inline-block;
      @include float-left;
    }
    ul {
      @include inline-block;
      @include no-bullets;
      @include horizontal-list;
      @include float-left;
      li a {
        padding: 0 12px;
        line-height: 30px;
        color: #ebd5d6;
        font-weight: bold;
      }
    }
    form {
      margin: 2px 40px 0 0;
      width: 280px;
      height: 26px;
      @include float-right;
      position: relative;
      .search-label {
        position: absolute;
        top: 0;
        left: 0;
      }
      .search-text {
        position: absolute;
        top: 0;
        left: 68px;
        border: none;
        width: 170px;
        height: 25px;
        padding: 0 37px 0 5px;
      }
      .search-icon {
        position: absolute;
        top: 4px;
        right: 13px;
        border: none;
        text-indent: -9999px;
      }
    }
  }
}
#flash {
  margin-top: 20px;
  margin-bottom: 20px;
  .message {
    padding: 10px;
  }
  .notice {
    background-color: #fff6bf;
    border: 2px solid #ffd324;
    color: #514721;
  }
  .error {
    background-color: #fbe3e4;
    border: 2px solid #fbc2c4;
    color: #8a1f11;
  }
}
#container {
  background-color: #fdfdfd;
  padding: 20px 0 50px 0;
  .container {
    @include clearfix;
  }
}
#content {
  @include float-left;
  width: 680px;
  margin-left: 30px;
  > h2 {
    font: 20px verdana;
    padding-bottom: 5px;
    border-bottom: 1px solid #9e9e9e;
  }
}
#footer {
  background: url(/images/footer-bg.png) repeat-x 0 0 #ededed;
  height: 130px;
  ul {
    @include no-bullets;
    @include horizontal-list;
    padding: 40px 0 0 45px;
    li {
      margin: 0 8px;
      a {
        font-weight: bold;
        color: #1767af;
      }
    }
  }
  .copyright {
    margin: 20px 0 0 60px;
  }
  .share {
    @include float-right;
    margin: 12px 40px 0 0;
    a {
      display: block;
      margin-top: 18px;
    }
  }
}
.register-hint {
  color: #7e7e7e;
  line-height: 18px;
  margin: 75px 50px 0 0;
  padding: 20px 20px 40px 20px;
  border: 1px dashed #d3d3d3;
  ul {
    margin: 20px 0 0 20px;
    list-style:	disc inside none;
    li {
      line-height: 20px;
    }
  }
}
.command {
  @include float-right;
  margin: 0 20px 0 0;
  a {
    @include inline-block;
  }
}
