@import "partials/wikistyle";

.page {
  .wikistyle {
    @include wikistyle;
  }
}
#page {
  margin: 0 32px;
  h2 {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #9e9e9e;
  }
  .not-found-image, .error-image {
    margin: 20px 20px 50px 20px;
    float: left;
    display: inline;
  }
  .description {
    width: 480px;
    padding: 20px 0;
    float: left;
    display: inline;
  }
}
