@import "partials/pagination";
@import "partials/wikistyle";
@import "partials/tags";
@import "compass/utilities/lists/bullets";
@import "compass/utilities/general/float";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";

table.posts {
  &.archive .post {
    min-height: 10px
  }
  tr {
    td {
      border-bottom: 1px dashed #b7b7b7;
    }
    .stat {
      text-align: right;
      width: 80px;
      p {
        font-size: 14px;
        line-height: 20px;
        color: #616161;
      }
    }
    .content {
      padding: 10px 20px;
      font-size: 12px;
      .title a {
        font-size: 16px;
      }
      .description {
        padding: 5px 0;
        color: #727272;
        line-height: 18px;
      }
    }
    .author {
      width: 80px;
      text-align: left;
      font-size: 12px;
    }
    .avatar {
      width: 50px;
      img.user-avatar {
        padding: 2px;
        border: 1px solid #eee;
      }
    }
  }
}
.post {
  margin: 15px 20px;
  .vote-info, .post-info {
    @include float-left;
  }
  .vote-info {
    margin-right: 20px;
    p {
      width: 40px;
      font-size: 2em;
      text-align: center;
      margin: 0;
    }
  }
  .like-icon, .unlike-icon, .like-icon.active, unlike-icon.active {
    border: none;
    display: block;
    text-indent: 9999px;
    cursor: pointer;
  }
  .addthis_toolbox {
    @include float-right;
  }
  .description {
    background-color: #e7f2fd;
    min-height: 50px;
    margin: 9px 0;
    width: 580px;
    position: relative;
    @include inline-block;
    @include border-bottom-radius(5px);
    @include border-top-right-radius(5px);
    .point-to-icon {
      position: absolute;
      top: -9px;
      left: 0;
    }
    p {
      margin: 5px 20px;
    }
  }
  .implemented {
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    background-color: #fd9800;
    color: #fff;
    display: block;
    @include float-right;
  }
  .wikistyle {
    @include wikistyle;
  }
  .tags {
    strong {
      font-size: 18px;
      @include inline-block;
    }
    @include tags;
  }
}
div.ac_results ul {
  margin: 0;
  padding: 0;
}
#sidebar {
  .share-section {
    @include border-radius(5px);
    background-color: #fdeec5;
    width: 220px;
    height: 85px;
    text-align: center;
    a {
      background-color: #fd9800;
      color: #fff;
      width: 80px;
      height: 28px;
      line-height: 28px;
      margin: 20px 0 10px 0;
      @include inline-block;
    }
    p {
      color: #c34237;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .tag-section {
    margin-top: 20px;
    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    ul {
      padding: 0;
      margin-left: 20px;
      @include no-bullets;
      @include tags;
      li {
        padding: 5px 0;
        a {
          @include inline-block;
        }
      }
    }
  }
}

.pagination {
  @include pagination;
}
