@import "partials/pagination";
@import "partials/tags";
@import "compass/utilities/lists/bullets";
@import "compass/utilities/general/float";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";

.posts {
  &.archive .post {
    min-height: 10px
  }
  .post {
    td {
      border-bottom: 1px dotted #b7b7b7;
    }
    .stat {
      text-align: right;
      width: 80px;
      p {
        font-size: 14px;
        line-height: 20px;
        color: #616161;
      }
    }
    .content {
      padding: 10px 20px;
      font-size: 12px;
      .title a {
        font-size: 16px;
      }
      .description {
        padding: 5px 0;
        margin: 0;
        border: 0;
        min-height: 0;
        color: #727272;
      }
    }
    .author {
      width: 80px;
      text-align: left;
      font-size: 12px;
    }
    .avatar {
      width: 50px;
      img.user-avatar {
        padding: 2px;
        border: 1px solid #eee;
      }
    }
  }
}
.post {
  margin: 0 2em 1em;
  .vote-info, .post-info {
    @include float-left;
  }
  .like-icon, .unlike-icon, .like-icon.active, unlike-icon.active {
    border: none;
    display: block;
    text-indent: 9999px;
    cursor: pointer;
  }
  .vote-info p {
    width: 40px;
    font-size: 2em;
    text-align: center;
    margin: 0;
  }
  a.addthis_button {
    margin-left: 1em;
  }
  img.user-avatar {
    margin: 0 0.2em;
  }
  p.description {
    border: 1px solid #dedede;
    margin-left: 3em;
    padding: 0.2em;
    min-height: 3em;
  }
  .implemented {
    background-color: #eee;
    padding: 0.2em 0.5em;
    @include border-radius(0.5em);
    @include float-right;
  }
  .tags {
    strong {
      font-size: 1.4em;
      @include inline-block;
    }
    @include tags;
  }
  .command {
    @include float-right;
    margin: 0 2em 0 0;
    a {
      @include inline-block;
      font-size: 1.2em;
    }
  }
}
div.ac_results ul {
  margin: 0;
  padding: 0;
}
#sidebar {
  .share-section {
    @include border-radius(5px);
    background-color: #fdeec5;
    width: 220px;
    height: 85px;
    text-align: center;
    a {
      background-color: #fd9800;
      color: #fff;
      width: 80px;
      height: 28px;
      line-height: 28px;
      margin: 20px 0 10px 0;
      @include inline-block;
    }
    p {
      color: #c34237;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .tag-section {
    margin-top: 20px;
    h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    ul {
      padding: 0;
      @include no-bullets;
      @include tags;
      li {
        padding: 5px 0;
        a {
          @include inline-block;
        }
      }
    }
  }
}

.pagination {
  @include pagination;
}
