@import "partials/tags";
@import "compass/utilities/lists/bullets";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";
@import "compass/css3/border-radius";

#sidebar {
  @include float-right;
  margin-right: 30px;
  width: 220px;
  .sign-in-twitter-button, .sign-in-facebook-button {
    text-indent: -99999px;
    border: none;
    margin: 5px 0;
    cursor: pointer;
  }
  h3 {
    font: 14px verdana;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .share-section {
    @include border-radius(5px);
    background-color: #fdeec5;
    width: 220px;
    height: 85px;
    text-align: center;
    a {
      background-color: #fd9800;
      color: #fff;
      font-weight: bold;
      width: 80px;
      height: 28px;
      line-height: 28px;
      margin: 20px 0 10px 0;
      @include inline-block;
    }
    p {
      color: #c34237;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .posts-section {
    margin: 20px 0;
    line-height: 2;
  }
  .tag-section {
    margin-top: 20px;
    ul {
      padding: 0;
      @include no-bullets;
      @include clearfix;
      @include tags;
      li {
        @include float-left;
        margin: 5px;
        a {
          @include inline-block;
        }
      }
    }
  }
  .static-section {
    margin-top: 10px;
    p {
      padding: 0 5px;
      line-height: 1.2;
    }
    ol {
      list-style-type: decimal;
    }
    ul {
      list-style-type: disc;
    }
    ol, ul {
      margin: 0 1.5em 0.5em 0;
      padding-left: 3.333em;
      line-height: 1.2;
    }
    ul ul, ul ol, ol ol, ol ul {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
