- set_meta_tags :title => 'rails best practices list', :noindex => true

%h2 Rails Best Practices
= render 'posts', :posts => @posts, :description => true
= will_paginate @posts, :previous_label => "<< Previous", :next_label => "Next >>"
