- set_meta_tags :title => 'Login', :noindex => true

%h2 Login
= render 'shared/login_form', :user_session => @user_session, :return_to => nil

.register-hint
  %p
    Not a Member? You can get other benefits by
    = link_to 'becoming a rails-bestpractices.com Member', new_user_path
  %ul
    %li Share your rails best practices to others
    %li Vote rails best practices you like
    %li Comment rails best practices easier
